header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-black-200);

    div:first-child {
        display: flex;
        align-items: center;
        gap: 15px;

        input {
            height: 24px;
            padding: 12px 0;
            width: 30vw;
            border:2px solid var(--color-black-400);
            border-radius: 4px;
            margin: 24px 0;
        }
    
        button {
            border:2px solid var(--color-black-400);
            border-radius: 4px;
            background-color: var(--color-red-100);
            max-height: 30px;
            padding: 6px;
    
            img { height: 17px; }
        }
    }

    div:last-child {
        width: 100%;
        height: 50px;
        background-color: var(--color-black-400);
        text-align: center;
        position: relative;

        h1 {
            color: var(--color-white);
            font-size: 2rem;
            font-family: var(--font-primary);
            letter-spacing: 12px;
        }
    }
}