main {
    background-image: url(simbulo.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 300px;
    /* background-position-y: 60px; */

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    img {
        margin-top: 50px;
        height: 250px;
        width: 250px;
        z-index: 1;
    }

    .pokemon-content {
        background-color: var(--color-black-400);
        padding: 60px 100px;
        margin-top: -50px;
        color: var(--color-white);
        width: 30vw;
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
        padding-bottom: 100px;

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;

        div:nth-child(2n) {
            text-align: end;
        }

        h2, p {
            font-family: var(--font-primary);
        }

        p {
            font-size: 24px;
        }
        
    }
}